          
                
                                     
                                          
                      
                        
                            
                            
                            
                           
 

         
                    
 
          
                     
 
          
                     
 
            
                       
 
        
                   
 
         
                    
 
         
                    
 
         
                    
 
         
                    
 
         
                    
 
         
                    
    

          
.root {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
    'kanban'
    'members'
    'notifications'
    'audit'
    'analytics';
}

      
@media (min-width: 768px) {
  .root {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(7, auto);

    grid-template-areas:
      'kanban audit  audit'
      'kanban audit  audit'
      'members members  analytics'
      'notifications notifications   analytics'
      'notifications      notifications   analytics     '
      'notifications      notifications   analytics      '
      'notifications      notifications   analytics ';
  }
}

      
@media (min-width: 1024px) {
  .root {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(7, auto);

    grid-template-areas:
      'kanban kanban audit  audit  audit'
      'kanban kanban audit  audit  audit'
                                               
      'members members members analytics   analytics'
      'notifications notifications notifications analytics   analytics'
                                                                           
      'notifications      notifications notifications analytics   analytics     '
      'notifications      notifications notifications analytics   analytics      '
      'notifications      notifications notifications analytics   analytics ';
  }
}

.kanban {
  grid-area: kanban;
}
.members {
  grid-area: members;
}
.notifications {
  grid-area: notifications;
}
.audit {
  grid-area: audit;
}
.analytics {
  grid-area: analytics;
}
